# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# for emacs:
*~
*.DS_Store

# Mac
.DS_Store

#Java
*.class

# XCode
*.moved-aside
build/*
*.xcworkspace
*.mode1v3
*.mode2v3
*.pbxuser
!default.xcworkspace
!default.mode1v3
!default.mode2v3
!default.pbxuser
*.perspectivev3
profile
xcuserdata
.idea/*

#Cocoa pods
*.old
Pods/*

#cocos2d-x
libs/
bin/
obj/
assets/
gen/
out/
.classpath
.project
.cproject
Debug.win32/
*.opendb
*.db
*.vcxproj

# backup files
*.bak
*.bak[0-9][0-9]
*.orig
*.orig[0-9][0-9]

# source packages - anywhere
*.tar.bz2
*.tar.gz
*.tar
*.tgz
*.gtgz
LetterWriting/proj.android-studio/app/local.properties

LetterWriting/cocos2d
Tester2/cocos2d

*.iml

MainApp/cocos2d
